    <div class="image-container fade-in">
      <img mat-card-image src="../../assets/elearningImgage.jpg" alt="">
      <div class="overlay-text">
        <h1 class="text1">Empowering Your IT Career with Expert Training</h1><br><br><br>
        <h3  class="animated-text" style="font-size: 20px; color: rgb(9,9,73);
        ">E-learning is a leading IT Training Institute in Pune, dedicated to providing high-quality
          education and skill development in the field of Information Technology. With a mission to empower individuals with
          the latest industry-relevant knowledge and practical expertise, E-learning has established itself as a
          reliable destination for those aspiring to build successful careers in the IT sector.</h3><br>
        
         <div class="mb-3" align="center" style="margin: 20px;">
          <button type="button" mat-raised-button color="rgb(9,9,73)" class="btn navbar-bg-second"
          routerLink="/contactus" style="background-image: linear-gradient(135deg, #4b5085 10%, #131f55 100%);
          ">ENQUIRE NOW <i class="bi bi-arrow-right"></i></button>
          <!-- <button mat-raised-button color="primary" routerLink="/contactus"
            style="width: 15%;height: 50px;border-radius: 15%;font-weight: bold;">Enquire Now</button> -->
        </div>
      </div> 
    </div> 
 
